ordered set kitties is
jquery/jquery-1.4.4.js
jquery/jquery-ui-1.8.10.custom.min.js
jquery/i18n/grid.locale-en.js
jquery/jquery.jqGrid.min.js
jquery/jquery.metadata.js
jquery/jquery.hotkeys.js
jquery/jquery.tmpl.js
jquery/jquery.jqplot.js
jquery/jqplot.cursor.js
jquery/jqplot.pointLabels.js
jquery/jqplot.barRenderer.js
jquery/jqplot.categoryAxisRenderer.js
jquery/jqplot.dateAxisRenderer.js
core.js
json2.js